
@import url('all_style.css');

body{
    background-image: url('../source/關於_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center center; */
}


/* -------------------top--------------------- */

.top{
    width: 100%;
    height: 250px;
    background-image: url('../source/關於_top.jpg');
    background-size: cover;
    background-position: center center;
}

.top h1{
    text-align: center;
    line-height: 250px;
    color: white;
    text-shadow: rgba(211, 211, 211, 0.774) 2px 2px 2px;;
}


/* -------------------story--------------------- */
.story{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    /* background-color: rgba(255, 255, 255, .5); */
    /* background-color: rgba(255, 255, 255, .5); */
}
.story-text{
    width: 50%;
    /* border: black solid 1px; */
    padding-left: 20px;
}
.story p{
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 50px;
}

.story img{
    width: 50%;
}



/* --------------------營業資訊----------------------- */
.addr {
    text-align: center;
    padding-top: 30px;
}
.addr h2{
    padding-bottom: 20px;
}

.detail{
    width: 400px;
    height: 300px;
    border: solid black 1px;
    background-color: rgba(225, 225, 197, 0.6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.detail ul{
    width: 200px;
    padding: 20px;
    float: left;
}

.detail li{
    padding-bottom: 20px;
}



