
@import url('all_style.css');


.main-list .nav-about{
    font-weight: bold;
    border-left: 3px solid rgba(190, 190, 127, 1);
}

/* -------------------top--------------------- */

/* =================== 小於575.98 ====================== */
@media (max-width:575.98px) {

    /* ----------- top ----------- */
    .top{
        width:300px;
    }
    .top span:nth-child(2)::before{
        position: absolute;
        top: 100px;
        left: 120px;
    }

    /* ----------- story ----------- */
    .flex-story{
        display: block;
    }
    .story-img{
        width: 100%;
    }
    .story-text{
        width: 100%;
    }
    .story-img img{
        max-width: 100%;
    }

}


/* ==================== 576 ~ 768.98 ================= */
@media (min-width:576px) and (max-width:768.98px) {
    /* ----------- top ----------- */
    .top{
        width: 70%;
    }
    .top span:nth-child(2)::before{
        position: absolute;
        top: 100px;
        left: 45%;
    }


    /* ----------- story ----------- */
    .story{
        width: 100%;
        padding: 70px 0;
        border: solid black 1px;
    }
    
    .flex-story {
        max-width: 100%;
        display: flex;
        border: solid red 1px;
        justify-content: center;   
        align-items: center;
    }
    
    
    .story-text ,.addr-text{
        width: 50%;
        padding-left: 50px;
        padding-right: 30px;
        letter-spacing:3px;
    }
    
    .story-img, .addr-img{
        width: 50%;
        display: block;
    }
    
    .story-img img, .addr-img img{
        max-width: 100%;
        display: block;
    }
}

/* ======================= 大於769 ====================== */
@media (min-width:769px) {
    /* ----------- top ----------- */
    .top{
        width: 70%;
    }
    .top span:nth-child(2)::before{
        position: absolute;
        top: 100px;
        left: 47%;
    }


    /* ----------- story ----------- */
    .story{
        width: 100%;
        padding: 70px 0;
        border: solid black 1px;
    }
    
    .flex-story {
        max-width: 100%;
        display: flex;
        border: solid red 1px;
        justify-content: center;   
        align-items: center;
    }
    
    
    .story-text ,.addr-text{
        width: 50%;
        padding-left: 50px;
        padding-right: 30px;
        letter-spacing:3px;
    }
    
    .story-img, .addr-img{
        width: 50%;
        display: block;
    }
    
    .story-img img, .addr-img img{
        max-width: 100%;
        display: block;
    }
}



/* -------------------story--------------------- */

/* .story{
    width: 100%;
    padding: 70px 0;
    border: solid black 1px;
}

.flex-story {
    max-width: 100%;
    display: flex;
    border: solid red 1px;
    justify-content: center;   
    align-items: center;
}


.story-text ,.addr-text{
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;
    letter-spacing:3px;
}

.story-img, .addr-img{
    width: 50%;
    display: block;
}

.story-img img, .addr-img img{
    max-width: 100%;
    display: block;
} */


/* --------------------營業資訊----------------------- */

.addr h2{
    padding-bottom: 70px;
}

.addr-text ul:first-child{
    /* border: solid red 1px; */
    margin-bottom: 30px;
}

.flex-addr{
    display: flex;
    align-items: center;
}

/* .flex-addr::after{
    content: '';
    width: 100%;
    height: 270px;
    background-color: rgba(225, 225, 197, 0.6);

    z-index: -1;
    position: absolute;
    top: 147px;
    left: 0;
} */

.addr-map{
    /* border: solid red 1px; */
    font-size: 0;
    margin-top: 30px;
}