@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');


body{
    font-family: 'Noto Sans TC',Arial,"微軟正黑體";
    font-size: 16px;
    line-height: 1.5;
    color: #333;

    box-sizing: border-box;
}

 body h1{
    font-size: 40px;
    font-weight: bold;
 }

body h2{
    font-size: 30px;
    font-weight: bold;
}

/* ---------------------left------------------------ */
/* -------主選單-------- */
.main-sel{
    width: 20%;
    height: 100%;
    background-image: url('../source/nav_bg.jpg');
    background-size: cover;
    
    /* padding: 0 30px; */
    /* box-sizing: border-box; */

    position: fixed;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction:column; */

    z-index: 1;
}

.innernav{}

/* ---logo----- */
.logo{
    /* border: black solid 1px; */
    /* padding-right: 15px; */
    padding-bottom: 10px;
}


.logo img{
    height: 80px;
    margin: 0 auto;
    display: block;
}


/* -----選單選項---- */
.main-list{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 60px;

    /* position: absolute;
    top: 100px;
    left: 0; */
}

.main-list li{
    margin: 10px 0;
    font-size: 18px;
    line-height: 60px;
}
.main-list a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    width: 80%;
}

.main-list a:hover{
    background-color: rgba(190, 190, 127, 1);
    color: white;
    font-weight: bold;
}

/* ---------功能icon---------- */
.main-icon{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main-icon li{
    margin: 10px;
}


.main-icon i:hover{
    color: rgba(108, 56, 133, 1);
}

.innernav i{
    color: black;
    font-size: 20px;
}


input{
    width: 50%;
    background: none;
    border:0 none;
    border-bottom: black solid 1px;
    padding: 10px;
}



/* ---------------------right------------------------ */

.right{
    width: 80%;
    position: absolute;
    right: 0;
}



/* -----------------footer------------------ */
.footer{
    /* border: black solid 1px; */
    width: 100%;
    background-color: rgba(190, 190, 127, .6);
    /* background-color: rgba(225, 225, 197, 1); */
    color: white;
    font-size: 13px;
    padding-top: 20px;

    clear: both;
}

/* 左側 */
 .footer-text{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.footer-text section{
    padding-bottom: 10px;
}

/* 右側 */
.footer ul{
    float: right;
    padding-top: 50px;
}

.footer li{
    float: left;
}

.footer ul i{
    color: white;
    font-size: 30px;
    margin-right: 25px;
}


/* 最下方 */
.footer .text{
    text-align: center;
    padding: 20px 0;
}

.footer hr{
    padding-top: 50px;
    display: block;
    border: 0;
    border-bottom: 1px solid white;
    width: 80%;
}