@import url('all_style.css');

/* -------------------top--------------------- */

.top p {
    text-align: center;
    color: #333;
    font-weight: bold;
    text-shadow: rgba(211, 211, 211, 0.774) 2px 2px 2px;
    letter-spacing: 2px;
    padding: 10px;
    /* border: black solid 1px; */

    position: relative;
    padding-top: 80px;
    margin: 0 auto;
    width: 500px;
}

.top-text-position p::before{
    content: '“';
    font-size: 50px;
}

.top-text-position p::after{
    content: '”';
    font-size: 50px;

    position: absolute;
    bottom: -50px;
    right: 0;
}


/* ----------------------main---------------------------- */

/* ------------ 課程須知 ----------------- */
.course-notice{
    padding: 50px 30px;
}



.course-notice hr{
    border-top: solid #333 solid;
}


.course-notice ul{
    padding-top: 20px;
    padding-left: 30px;
}

.course-notice li{
    padding-bottom: 5px;
}


/* --------------- 詳細課程 -------------------*/
.hand-merit{
    display: flex;
    margin: 50px;
    
    /* border: blue solid 1px; */
    position: relative;
}

.hand-merit-img img{
    display: block;
    width: 300px;
    height: 230px;
    /* background-image: url('../source/手作客戶(小).jpg');
    background-size: cover;
    background-position: center center; */
    /* background-repeat: no-repeat; */

    /* position: absolute;
    left: 10px;
    top: -10px; */

    padding-left: 30px;
}

/* .hand-merit::before{
    content: '';
    width: 100%;
    height: 200px;
    background-color: rgba(225, 225, 197, 1);

    position: absolute;
    top: 15px;
    z-index: -1;

}

.hand-merit-title{
    padding-top: 20px;
    padding-left: 20px;

    border: blue solid 1px
}

.hand-merit-text{
    padding-top: 70px;
    text-align: center;
}

.hand-merit-text p{
    width:200px;
    line-height: 2;
} */


  /* =================== 彈出視窗 ==================== */

  .hand-merit-fade{
      width: 60%;
      border: rgba(211, 211, 211, .35) solid 10px;
      border-radius: 20px;
      position: fixed;
      top: 5%;
      left: 15%;
      right: 0;
      bottom: 5%;
      margin: auto;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      overflow: auto;
      
      display: none;
  }

  

  .hand-merit-fade button{
      float: right;
      background-color: transparent;
      font-weight: bold;
      border: 0;
      font-size: 30px;
      opacity: .2;
  }
  .hand-merit-fade h2{
      text-align: center;
  }

  .hand-merit-fade h3{
      color:rgba(190, 190, 127, 1);
      font-size: 20px;
      font-weight: bold;
  }

  .hand-merit-fade li{
      margin-bottom: 10px;
      /* border: green solid 1px; */
  }

  .hand-merit-fade li h3{
    margin-bottom: 10px;
}

  .hand-merit-fade img{
      width: 200px;
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .sample-img{
      display: flex;
      flex-wrap: wrap;
  } 
