@import url('all_style.css');

/* 主選單強調邊框 */
.-on{
    font-weight: bold;
    border-left: 3px solid rgb(153, 153, 139);
}




/* -------------------top--------------------- */
 
.top span:nth-child(2)::before{
	position: absolute;
	top: 100px;
	left: 42%;
}


/* ----------------------main---------------------------- */

/* ------------ 課程須知 ----------------- */
.course-notice{
    padding-top: 70px;
}



.course-notice hr{
    border-top: solid #333 solid;
}


.course-notice ul{
    padding-top: 20px;
    padding-left: 30px;
}

.course-notice li{
    padding-bottom: 5px;
}


/* --------------- 詳細課程 -------------------*/
.course-container{
    text-align: center;
    /* border: blue solid 1px; */
    padding-top: 70px;
    width: 100%;
    overflow: hidden;
}
.course-container h2{
    text-align: left;
}

.course-list{
    display: flex;
    /* border: green solid 1px; */
    width: 100%;
    justify-content: center;
}

.course-list li{
    margin-right: 10px;
    /* border: red solid 1px; */
    width: 300px;
    height: auto;
    background-color: white;

    position: relative;
}

.course-list li:hover{
    background-color: #e6e6e6;
}


.course-list a{
    display: block;
    width: 100%;
    /* height: 100%;  */
    /* border: purple solid 1px; */
}

.course-container img{
    display: block;
    width: 100%;
    height: auto;    
}


.course-list h3{
    /* border: brown solid 5px; */
    padding: 10px 0;
    color: rgba(209, 194, 55, 1);
    /* font-size: 20px; */
    font-weight: bold;
    width: 100%;
}




  /* =================== 彈出視窗 ==================== */

  .hand-merit-fade{
      width: 60%;
      border: rgba(211, 211, 211, .35) solid 10px;
      border-radius: 20px;
      position: fixed;
      top: 5%;
      left: 0;
      right: 0;
      bottom: 5%;
      margin: auto;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      overflow: auto;
  }

  .hand-merit-fade-body{
      margin-left: 20px;
  }

    /* 叉叉 */
  .hand-merit-fade button{
      position: fixed;
      top: 10%;
      right: 20%;
      margin: auto;
      background-color: transparent;
      font-weight: bold;
      border: 0;
      font-size: 30px;
      opacity: .2;
      color: #333;
  }
  .hand-merit-fade h2{
      text-align: center;
      color:rgba(190, 190, 127, 1);
  }

  .hand-merit-fade h3{
      color:rgba(190, 190, 127, 1);
      font-size: 20px;
      font-weight: bold;
  }

  .hand-merit-fade li{
      margin-bottom: 10px;
      /* border: green solid 1px; */
  }

  .hand-merit-fade li h3{
    margin-bottom: 10px;
}

/* 示範照片 */
  .hand-merit-fade img{
      width: 200px;
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .sample-img{
      display: flex;
      flex-wrap: wrap;
  } 

  /* 6 預約資訊 */
  .hand-merit-fade tr{
      height: 60px;
      line-height: 60px;
  }

  .hand-merit-fade input{
      padding: 10px;
  }

  .hand-merit-fade td{
    padding: 5px;
    padding-right: 10px;
    /* border: #333 solid 1px; */
  }
  .hand-merit-fade tr td:nth-child(3){
      padding-left: 50px;
  }
/* 時段 */
  .hand-merit-fade select{
      height: 40px;
  }

  /* 提交 */
  .submit{
      display: block;
      width: 100px;
      height: 40px;
      border: 0;
      background-color: rgb(178,144,193);
      color: white;
      margin-top: 10px;
  }

  .submit:hover{
    background-color: rgba(108, 56, 133, 1);
  }

/* 燈箱遮罩 */
  .black{
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0 , 0, 0, .5);

      display: none;
  }
